.venv
__pycache__/
*.pyc
.DS_Store
.vscode/
dist/
build/
.env
data/
*.egg-info/
*.ruff_cache
**_cache
wheels/
.uv_cache
uv.lock
requirements.txt

# Coverage reports
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover
.pytest_cache/
